.consulting__main__container {
    display: flex;
    flex-direction: column;
}

.consulting__container1 {
    display: flex;
    flex-direction: row;
}

.consulting__image__container {
    display: flex;
}

.patientdata__container {
    display: flex;
    flex-direction: column;
}

.name__section__container {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.name__section__container h1 {
    text-shadow: 1px 1px black;
    margin-left: 20px;
}

.consulting__form__container {
    display: flex;
    flex-direction: column;
}

.patient__section {
    color: #AFB42B;
    text-align: center;
}

.button__save__container {
    display: flex;
    margin-left: 20px;
}

.consulting__container2 {
    display: flex;
    margin: 0 auto;
}

.graphic {
    margin-top: 100px;
    margin-bottom: 100px;
}