/* .loginPage {
    background-image: url('../../images/login.jpg');
    background-size: cover;
} */

.imageLogin__container {
    width: 100%;
    height: 730px;
    display: flex;
    align-items: center;
}

.imageLogin__container img {
    width: 100%;
    height: 730px;
    position: absolute;
    /* opacity: 0.6; */
}

/* .login__container {
    position: relative;
    display: flex;
    background: white;
    opacity: 0.9;
} */

.button__login__container {
    display: flex;
    justify-content: center;
}

