.consulting__container {
    display: flex;
    /* outline: solid 5px red; */
}

.consulting__image__container {
    display: flex;
}

.consulting__form__container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 40px;
    /* outline: solid 3px blue; */
}

.consulting__form__container h1 {
    color: #AFB42B;
    text-align: center;

}
