.signup__body {
    display: flex;
    justify-content: center;
}

.signup__container {
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.signup__image__container {
    display: flex;
}

.signup__image__container img {
    width: 100%;
    height: 100%;
}

.signup__form__container {
    display: flex;
    flex-direction: column;
}

.signup__form__container h1 {
    color: #AFB42B;
    text-align: center
}

.button_signup__container {
    display: flex;
    justify-content: center;
}